<div class="flex-1 flex flex-col overflow-hidden">
<main class="flex-1 overflow-y-auto p-6 space-y-6" style="
    background: aliceblue;">
     <section class="bg-white p-6 rounded-xl shadow">
        <div class="flex justify-between">
        <h2 class="text-lg font-semibold mb-1 text-gray-800">Recent Transactions</h2>
        <a href="<%=new_transaction_path%>" class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-2 rounded-md text-md font-semibold mb-2">Add Transactions</a>
        </div>
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Id</th>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Title</th>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Amount</th>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Date</th>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Description</th>
                <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Action</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <%@transactions.each do |transaction|%>
              <tr>
                <td class="px-6 py-4"><%=transaction.id%></td>
                <td class="px-6 py-4"><%=transaction.title%></td>
                <td class="px-6 py-4"><%=transaction.amount%></td>
                <td class="px-6 py-4"><%=transaction.category%></td>
                <td class="px-6 py-4"><%=transaction.description%></td>
                <td class="px-6 py-4 text-green-600 font-medium flex" style="gap: 6px;">
                <%= link_to "Edit", edit_transaction_path(id: transaction.id), class: "bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded-md text-sm font-medium" %>
                <%= button_to "Delete", transaction, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-md text-sm font-medium" %>
              </td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </div>